@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600;800&display=swap');
body{
    background-color: #485460;
    font-family: 'Nunito', sans-serif;
}
.container{
    background-color: #d2dae2;
    height: 300px;
    width: 500px;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
}
input{
    font-family: 'Nunito', sans-serif;
    width: 200px;
    height: 30px;
    display: grid;
    margin: 1rem auto;
    border-radius: 10px;

}
#calculate-btn{
    width: 100px;
    height: 30px;
    display: block;

    margin: 1rem auto;
    border-radius: 10px;
    background-color: #485460;
    color: #d2dae2;
    font-family: 'Nunito', sans-serif;
}
